trigger:
- main

pool:
  vmImage: ubuntu-latest

jobs:
# ==============================
# JOB 1: Build
# ==============================
- job: Build
  displayName: Build
  steps:
  - task: UseNode@1
    inputs:
      version: '16.x'
    displayName: 'Install Node.js'

  - script: |
      npm install
      npm run build --if-present
      npm run test --if-present
    displayName: 'npm install, build and test'

  - task: ArchiveFiles@2
    displayName: 'Archive files'
    inputs:
      rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
      includeRootFolder: false
      archiveType: tar
      tarCompression: gz
      archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).gz'
      replaceExistingArchive: true

  - publish: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).gz'
    artifact: drop

# ==============================
# JOB 2: Deployment
# ==============================
- deployment: VMDeploy
  displayName: 'Web deploy'
  dependsOn: Build
  condition: succeeded()
  environment:
    name: 'ContosoDeploy'
    resourceType: VirtualMachine
    tags: 'VM' # VMs to deploy to
  strategy:
    runOnce:
      deploy:
        steps:
        - download: current
          artifact: drop
        - script: echo "Deploying application..."
          displayName: 'Deploy script'
